.sidebar{
  width: 160px;
  height:100vh;
  background-color:#394249;
position: sticky;
top:0;

  

  
}
.sidebar h3{
  text-align: center;
  color: red;
}
.nav-link{
  color:lightcoral;

  margin: 10px;
}
.nav-link:hover{
 
  color: white;
}


.arrow{

  color: orangered;
  border: 2px solid white;
  border-radius: 50%;
  background-color: white;
  box-shadow: -4px 6px 5px 0px rgba(0,0,0,0.75);
  }
  .all{
    display: inline-flex;
    
  }
  .all p{
  margin: 15px;
  padding: 5px;
  }
.all button{
  background-color: orangered; 
   border:2px solid red;
   margin: 1px;
 

 


}
.adrs2 p{
  color: orangered;
}
.all button:hover{
  background-color: white;
}
.bold{
  font-size: larger;
  font-weight: 500;
}
.icon{
  color: orangered;
  
}
.footer{
  margin-left: 50px;
}
.text{
  color: orangered;
  border: 2px solid;
  padding: 10px;
}
.toggle h6{
  cursor: pointer;
}
.text span{
  color:white;
  border-radius: 50%;
  padding:.7px;
  border:1px solid red;
  background-color: orangered;
}

.details li{
  list-style: none;


}
.nav .active-link{
  color: white;
}



